@charset "UTF-8";

/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: rgb(149, 253, 145);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 109, 0);
}

h1#principal{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2{
    color: rgb(47, 145, 42);
}

.basico{
    color: rgb(47, 145, 42);
}

.intermediario{
    color: rgb(179, 179, 58);
}

.avançado{
    color: rgb(160, 41, 41);
}

.destaque{
    background-color: rgba(192, 192, 83, 0.507);
}